/* begin */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,span,em,th,td,a{margin:0;padding:0;}
img {border:none; }
ul,li{list-style:none; padding-bottom: 1px;}
a{text-decoration:none;color:#666;}
a:focus {outline: 0;}
table, th, td { border-collapse: collapse; }
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
body{ font-size: 12px; font-family:'Microsoft YaHei','Helvetica','Simsun';/*background: #f4f7f8;*/color: #666;}
.clearfloat{display:block;height:0;clear:both;} 
.clearfix:after {display:block;height:0;clear:both;visibility:hidden;content:'';}
a:link{text-decoration:none;}textarea{resize:none}
a,input,button,select,textarea{ outline:none; }
::-moz-focus-inner{border:0px;}
/*:end */
/* header */
.header{background-color:#f2f2f2;color:#666666;border-bottom:1px solid #e5e5e5;}
.header .bg{margin:0 auto;width:1200px;height:35px;line-height:35px;transition:all .25s ease-in-out; position:relative;}
.header .bg a:hover{color:#05825a;}
.header .bg .h_left span{color:#ccc;}
.header .bg .h_right{float:right;display:inline;}
.header .bg .h_right a{margin-left:13px;margin-right:7px; color:#666;}/*20150611hx*/
.header .bg .h_right a:hover{color:#05825a;}
.header .bg .h_right a.username{color:#1aa97b;background:url('../img/u1.png') no-repeat right center; padding-right:20px; display:inline-block; line-height:35px;}
.header .bg .h_right a.shop_car{width:95px;color:#6d6d6d;background:url('../img/shopcar.png') no-repeat left center; padding-left:20px; display:inline-block; line-height:35px;}
.header .bg .h_right a.shop_car span{color:#19a97b;}
.header .bg .hideUl{ z-index:2; width:75px;height:74px; position:absolute;right:147px;top:35px;top:30px;border:1px solid #999; display:none;}
.header .bg .hideUl li{width:75px;height:24px;line-height:24px;text-align:center;  background:#fff;}
.header .bg .hideUl li.line{border-bottom:1px solid #ebebeb;}
.header .bg .hideUl li a{ display:block;font-size:13px; color:#545454;}
.header .bg .hideUl li a:hover{color:#fff;background:#19a97b;}

.header2{width:1200px;height:131px;margin:0 auto;color:#494a4a;position:relative;}
.header2 .news_blank_naviga{float:left;width:400px;color:#949494;font-size:14px; font-family:"\5B8B\4F53";padding-top:70px;}
.header2 .news_blank_naviga .a_h1{color:#17a577;font-size:20px;font-weight:bold;}
.header2 .news_blank_naviga .a_h2{color:#17a577;margin:0 2px;}
.header2 img.img,.header2 ul {float:left;display:inline;}
.header2 img.logo{margin:23px 118px 0 11px;}/*20151117*/
.header2 ul.ul{margin-top:50px;height:95px;}
.header2 ul.ul li{float:left;display:inline-block;clear:both;}
.header2 ul.ul .li2{position:relative;}
.header2 ul.ul .li2 .search_input{width:529px;height:38px;line-height:38px;border:1px solid #d0d0d0; font-family:'Microsoft YaHei';padding-left:10px;}
.header2 ul.ul .li2 span{position:absolute;right:0;color:#333;font-size:12px;top:0;}
.header2 ul.ul .li2 span .search{cursor:pointer;display:inline-block;text-align:center;font-family:"Microsoft YaHei"; color:#fff; font-size:24px;width:99px;height:40px;line-height:37px;/*background:url('../img/header2.png') no-repeat center center;*/background-color:#19a97b;}
.header2 ul.ul .li2 span a.a{cursor:pointer;padding:3px 4px;background-color:#f3f3f3;}
.header2 ul.ul .li1  {margin-bottom:7px;}
.header2 ul.ul .li1 a{margin-left:1px;cursor:pointer;margin-right:20px;}
.header2 ul.ul .li1 a:hover{text-decoration:underline;}
.header2 ul.ul .li1 a:active,.header2 ul  .li1 a.current{text-decoration:underline;}
.header2 ul.ul .li3{margin-top:11px;font-size:12px;color:#676767;}
.header2 ul.ul .li3 input  {margin-left:15px;}.header2 ul.ul .li3 input[type="radio"]{position:relative;top:1px;}
.header2 ul.ul .li3 input.input1{margin-left:1px;}
.header2 ul.ul .li3 span{-moz-user-select:none;display:inline-block;margin:0 10px;cursor:pointer;}
.header2 ul.ul .li3 em{cursor:pointer;display:inline-block; width:0px; height:0px; border:6px solid transparent;border-top-color:#333;position:relative;top:3px;}

.header2 img.upload{cursor:pointer;margin:13px 0 0 112px;}/*20151117*/
.header2 ul.tabUl{margin:13px 0 0 46px;color:#006666;}/*20151124*/
.header2 ul.tabUl li{text-decoration:underline;cursor:pointer;display:inline-block;padding:2px 15px;font-size:15px;}
.header2 ul.tabUl li.current{background-color:#19a97b;color:#fff;text-decoration:none;}

.header2 ul.hideUl{width:105px;height:48px;padding:5px 0;background-color:#fff;border:1px solid #d0d0d0;position:absolute; left:589px; top:123px;z-index:20151009;display:none;}/*20151117*/
.header2 ul.hideUl li{cursor:pointer;height:24px;line-height:24px;text-align:center;font-size:12px;}
.header2 ul.hideUl li:hover{background:#ebebeb;}
.header2 ul.hideUl .icon{/*background:#fff;border-top:1px solid #d0d0d0;border-left:1px solid #d0d0d0;transform:rotate(45deg);*/background:url(../img/ind_sear_ic.png);width:16px;height:9px;position:absolute; right:7px; top:-9px;}
/**/
.menu{min-width:1200px;background:#19a97b;margin-top:13px;height:37px;}
.menu .menu_bg{width:1200px;margin:0 auto;height:37px;line-height:37px;color:#fff;overflow:hidden;position:relative;top:-1px;}/*20151120*/
.menu .menu_bg a{float:left;width:112px;height:37px;overflow:hidden;color:#fff;text-align:center;letter-spacing:1px;text-decoration:none;cursor:pointer;transition:all .2s ease-in-out; }
.menu .menu_bg a.a0{width:218px;}.menu .menu_bg a.a9{width:86px;position:absolute;top:0;right:0;}
.menu .menu_bg a:hover{background-color:#069265;}
.menu .menu_bg a.current{background-color:#05825a;}
.menu .menu_bg img.add{cursor:pointer;}
.menu .second_menuBg{width:1200px;margin:0 auto;/*height:37px;*/position:relative;z-index:2015;}
.menu .second_menu{width:900px;position:absolute;top:-1px;left:218px;height:37px;}
.menu .second_menu li{float:left;width:112px;height:37px;color:#cdcdcd;}
.menu .second_menu li p{display:none;width:104px;padding:0px 3px;border:1px solid #cdcdcd;background:#fff;}
.menu .second_menu li a{display:block;line-height:28px;height:28px;border-top:1px solid #cdcdcd;text-align:center;color:#333;font-size:14px;overflow:hidden;}
.menu .second_menu li a:hover{color:#19a97b;text-decoration:underline;}
.menu .second_menu li a:first-child{border-top:none;} 
/* footer */
.footer{min-width:1200px;background:#f8fcfc;border-top:1px solid #eaeded;height:164px;margin-top:20px;text-align:center;font-family:"\5B8B\4F53";font-size:14px;color:#656667;line-height:38px;}
.foot1,.foot2,.foot3{width:1200px;margin:0 auto;}.foot1{padding-top:30px;line-height:20px;}
.footer p{display:inline-block;font-family:"\5B8B\4F53";}
.foot1 p{margin:0 23px;}.foot2 p{margin:0 44px;}.foot3 p{margin:0 0 0 28px;}
