/*  */

.content{font-size:14px;width:718px;margin:20px auto 50px auto;padding:70px 86px 40px 86px;overflow:hidden;border:1px solid #e4e4e4;}

.content  h1{text-align:center;}
.content  a.abtn{font-size:16px;border-radius:3px;margin:20px 0  80px  53px; display:inline-block;width:121px;height:40px;line-height:40px;text-align:center;color:#fff;background-color:#4e96de;}
.form_bx{font-size:15px;color:#333333;margin-top:40px;text-align:right;padding-right:200px;line-height:50px;}
.form_bx  img{vertical-align:middle;}
.form_bx input{width:237px;height:33px;line-height:33px;padding-left:3px;background-color:#f9fbfa;border:1px solid #e4e8e5;}
.form_bx  a.abtn{margin:30px 92px 40px 53px;}
.form_bx  .email_new{width:153px;margin-right:9px;}
.form_bx   a.get_a{padding:9px 10px;color:#e3393c;font-size:14px;background-color:#dfe3e4;}
.form_bx  span.color{color:#73b6e6;}
.form_bx   .margin{margin-right:69px;}